<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mi Galeria</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Explorar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Crear</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <form class="form-inline">
            <button class="btn btn-secondary btn-lg active" type="submit">Iniciar Sesión</button>
            <button class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Registrate</button>
        </form>
    </div>
</nav>